@use "variables";
@use "mixinsAndExtends";

body {
  .main__about {
    opacity: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: variables.$transition-opacity;
    -o-transition: variables.$transition-opacity;
    transition: variables.$transition-opacity;
    .about__social {
      z-index: 3;
      height: 100dvh;
      padding: 1rem;
      .social__container {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        gap: 1rem;
        padding-bottom: 1rem;
        a {
          color: gray;
          font-size: clamp(1em, 2.5vw, 1.2em);
          i {
            -webkit-transition: variables.$transition-quick;
            -o-transition: variables.$transition-quick;
            transition: variables.$transition-quick;
            @extend %hover-effect_light;
          }
        }
      }
    }
    .about__main {
      -webkit-transition: variables.$transition-opacity;
      -o-transition: variables.$transition-opacity;
      transition: variables.$transition-opacity;
      height: 100%;
      width: -webkit-fill-available;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 1rem;
      .about__img {
        -webkit-transition: variables.$transition-opacity;
        -o-transition: variables.$transition-opacity;
        transition: variables.$transition-opacity;
        display: block;
        padding: 1rem;

        img {
          max-width: 100%;
          max-block-size: 23rem;
        }
      }
      .about__text {
        padding: 1rem;
        max-width: 90ch;
        max-height: 100%;
        -webkit-transition: variables.$transition-opacity;
        -o-transition: variables.$transition-opacity;
        transition: variables.$transition-opacity;
        .text__container {
          -webkit-transition: variables.$transition-opacity;
          -o-transition: variables.$transition-opacity;
          transition: variables.$transition-opacity;
          gap: 2rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          text-align: center;
          p {
            text-align: center;
            @include mixinsAndExtends.fonts(
              variables.$font_heading,
              clamp(0.75em, 2.5vw, 1.1em),
              variables.$font_weight
            );
            color: rgb(57, 51, 51);
            span {
              color: black;
              font-size: clamp(1.2em, 2.5vw, 1.3em);
            }
          }
        }
      }
    }
  }
}
