@use "variables";
@use "mixinsAndExtends";

@media screen and (max-width: 480px) {
  body {
    .main__about {
      .about__main {
        gap: 0;
        .about__text {
          padding: 0.5rem;
          .text__container {
            p {
              color: rgb(15, 14, 14);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 668px) and (max-width: 1080px) {
  body {
    .main__about {
      .about__main {
        .about__text {
          max-width: 75ch;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 430px) {
  body {
    .main__about {
      .about__main {
        gap: 0;
        .about__img {
          img {
            max-width: 100%;
            max-block-size: 15rem;
          }
        }
        .about__text {
          padding: 0.5rem;
          .text__container {
            p {
              font-size: 0.75em;
              color: rgb(15, 14, 14);
              span {
                font-size: 1.2em;
              }
            }
          }
        }
      }
    }
  }
}
