@use "variables";
@use "mixinsAndExtends";

@media screen and (max-width: 490px){
    .main__all{
        padding: 2rem;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .all__heading {
            
            h1{
                text-align: center;
            }
        }
        .all__container{
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            gap: 3rem;
            .all__list{
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                .list__heading {
                    
                }
                .list__items{
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;

                    .item__card{
                        
                        .card__info{
                            .card__name{
                              
                              
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:491px)and (max-width:1024px){

    .main__all{
        .all__heading {
            h1{
                text-align: center; 
            }
        }
        .all__container{
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            .all__list{
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                .list__heading {
                    
                }
                .list__items{
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;

                    .item__card{
                        .card__info{
                            .card__name{
                                
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1025px) and (max-width:1380px){
    .main__all{
        .all__heading {
            
            text-align: center; 
        }
        .all__container{
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            .all__list{
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                
                .list__items{
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;

                    
                }
            }
        }
    }
}
