@use "variables";
@use "mixinsAndExtends";

.main__all {
    
    opacity: 0;
    -webkit-transition: variables.$transition-opacity;
    -o-transition: variables.$transition-opacity;
    transition: variables.$transition-opacity;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    padding: 3rem;
    gap: 2rem;
    .all__heading {
        h1{@include mixinsAndExtends.fonts(variables.$font_heading,clamp(1.7em, 3.5vw, 2.5em),variables.$font_weight); }
    }
    .all__container {
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 5rem;
        .all__list_3{
            z-index: 2;
        }
        .all__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column;
                    flex-flow: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            gap: 2rem;
            
            .list__heading {
                h2{
                    @include mixinsAndExtends.fonts(variables.$font_heading,clamp(1.4em, 3.5vw, 1.9em),variables.$font_weight); 
                }
            }
            .cakes{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-flow: row;
                        flex-flow: row;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 1rem;
                a{
                    i{
                        color: rgb(75, 73, 73);
                        //font-size: 1em;
                    }
                }
            }
            .list__items {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
               
                gap: 3rem;
                .item__card {
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: column;
                            flex-flow: column;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 2rem;
                    .card__img {
                        z-index: 2;
                        opacity: 1;
                        -webkit-transition: opacity 2s ;
                        -o-transition: opacity 2s ;
                        transition: opacity 2s ;
                        img{
                             width: 230px;
                            height: 350px; 
                            
                        }
                    }
                    .card__desc {
                        padding: 1rem;
                        height: 350px; 
                        position: absolute;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        opacity: 0;
                        -webkit-transition: opacity 2s;
                        -o-transition: opacity 2s;
                        transition: opacity 2s;
                        p{
                            line-height: 1.4em;
                            @include mixinsAndExtends.fonts(variables.$font_heading, clamp(1.15em, 3.5vw, 1.3em),variables.$font_weight); 
                        }
                    }
                    &:hover{
                        img {
                            opacity: 0.1;
                        }
            
                        .card__desc {
                            opacity: 1;
                        } 
                    }
                    .card__info {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-flow: column;
                                flex-flow: column;
                        gap: 2rem;
                        width: 220px;
                        .card__name {
                            text-align: center;
                            max-width: 220px;
                            height: 85px;
                            @include mixinsAndExtends.fonts(variables.$font_heading,clamp(1.15em, 3.5vw, 1.4em),variables.$font_weight); 
                        }
                        .info__order {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            align-items: center;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                                -ms-flex-flow: row;
                                    flex-flow: row;
                            -webkit-box-pack: justify;
                                -ms-flex-pack: justify;
                                    justify-content: space-between;
                            .price {
                                @include mixinsAndExtends.fonts(variables.$font_heading, clamp(1em, 3.5vw, 1.1em),variables.$font_weight);
                            }
                            .order__social{
                                z-index: 2;
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-orient: horizontal;
                                -webkit-box-direction: normal;
                                    -ms-flex-flow: row;
                                        flex-flow: row;
                                -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                        justify-content: center;
                                -webkit-box-align: center;
                                    -ms-flex-align: center;
                                        align-items: center;
                                gap: 1rem;
                                span{
                                    @include mixinsAndExtends.fonts(variables.$font_heading, clamp(1em, 3.5vw, 1.1em),variables.$font_weight); 
                                }
                                i{
                                    color: rgb(75, 73, 73);
                                    font-size: clamp(1.1em, 3.5vw, 1.3em);
                                    
                                }
                            }
                            
                        }
                    }

                }
            }
        }
    }
}
