@use "variables";
@use "mixinsAndExtends";

header {
    z-index: 2;
    position: relative;
    float: right;
    height: 96dvh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem;
    @include mixinsAndExtends.display_flex(flex, center, baseline, row nowrap);
    .nav__container {
        height: 100%;
        width: 100%;
        .nav__list {
            height: 100%;
            width: 100%;
            @include mixinsAndExtends.display_flex(flex, space-between, center, column nowrap);
            a {
                color: variables.$color_black;
                -webkit-transition: variables.$transition-quick;
                -o-transition: variables.$transition-quick;
                transition: variables.$transition-quick;
                @extend %hover-effect_light;
                cursor: pointer;
            }
            .nav__heading {
                -webkit-writing-mode: vertical-lr;
                -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr;
                @include mixinsAndExtends.fonts(
                    variables.$font_heading,
                    clamp(1em, 3.5vw, 1.3em),
                    variables.$font_weight
                );

                .item__heading {
                    a {
                        letter-spacing: 0.2em;
                    }
                }
            }
            .nav__lang {
                -webkit-writing-mode: vertical-lr;
                -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-flow: row;
                flex-flow: row;
                gap: 2rem;
                @include mixinsAndExtends.fonts(
                    variables.$font_heading,
                    clamp(0.7em, 2.5vw, 1em),
                    variables.$font_weight
                );

                .item__lang {
                    a {
                        letter-spacing: 0.16em;
                    }
                }
            }
            .nav__button {
                display: block;
                height: 40px;
                a {
                    width: 100%;
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    gap: clamp(0.2rem, 0.5vw, 0.3rem);
                    .arrow_1 {
                        width: 1px;
                        height: 30px;
                        background-color: rgb(70, 69, 69);
                        -webkit-animation: navigate_animation 4s cubic-bezier(0.45, 0.05, 0, 1) infinite;
                        animation: navigate_animation 4s cubic-bezier(0.45, 0.05, 0, 1) infinite;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        &:nth-of-type(1) {
                            -webkit-animation-delay: 0.4s;
                            animation-delay: 0.4s;
                        }
                        &:nth-of-type(2) {
                            -webkit-animation-delay: 0.5s;
                            animation-delay: 0.5s;
                        }
                        &:nth-of-type(3) {
                            -webkit-animation-delay: 0.6s;
                            animation-delay: 0.6s;
                        }
                    }
                }
                .active {
                    gap: 0;
                    .arrow_1 {
                        &:first-of-type {
                            -webkit-transform: rotate(-15deg);
                            -ms-transform: rotate(-15deg);
                            transform: rotate(-15deg);
                            -webkit-animation: navigate_close_1 4s cubic-bezier(0.45, 0.05, 0, 1) infinite;
                            animation: navigate_close_1 4s cubic-bezier(0.45, 0.05, 0, 1) infinite;
                        }
                        &:last-of-type {
                            -webkit-transform: rotate(15deg);
                            -ms-transform: rotate(15deg);
                            transform: rotate(15deg);
                            -webkit-animation: navigate_close_2 4s cubic-bezier(0.45, 0.05, 0, 1) infinite;
                            animation: navigate_close_2 4s cubic-bezier(0.45, 0.05, 0, 1) infinite;
                        }
                        &:nth-of-type(2) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.header__fixed {
    .nav__container {
        position: fixed;
        padding: 0rem 2rem 1.5rem 1rem;
    }
}

@-webkit-keyframes navigate_animation {
    0% {
        background-color: gray;
        top: 0;
        height: 30px;
    }
    10% {
        top: 0;
        height: 30px;
        background-color: black;
    }
    30% {
        top: 30px;
        height: 0;
        background-color: black;
    }
    31% {
        top: 0;
        background-color: black;
    }
    50% {
        top: 0;
        height: 30px;
        background-color: black;
    }
    100% {
        top: 0;
        height: 30px;
        background-color: gray;
    }
}

@keyframes navigate_animation {
    0% {
        background-color: gray;
        top: 0;
        height: 30px;
    }
    10% {
        top: 0;
        height: 30px;
        background-color: black;
    }
    30% {
        top: 30px;
        height: 0;
        background-color: black;
    }
    31% {
        top: 0;
        background-color: black;
    }
    50% {
        top: 0;
        height: 30px;
        background-color: black;
    }
    100% {
        top: 0;
        height: 30px;
        background-color: gray;
    }
}

@-webkit-keyframes navigate_close_1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: gray;
    }
    50% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
        background-color: black;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: gray;
    }
}

@keyframes navigate_close_1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: gray;
    }
    50% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
        background-color: black;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: gray;
    }
}

@-webkit-keyframes navigate_close_2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: gray;
    }
    50% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
        background-color: black;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: gray;
    }
}

@keyframes navigate_close_2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: gray;
    }
    50% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
        background-color: black;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: gray;
    }
}
