@use "variables";
@use "mixinsAndExtends";

body{
    .preloader__text {
        position: absolute;
        opacity: 1;
        @include mixinsAndExtends.size(100%, 100%);
        @include mixinsAndExtends.display_flex(flex, center, center, column);

        .preloader__name {
            opacity: 0;

            @include mixinsAndExtends.display_flex(flex, center, center, column);

            text-align: center;
            @include mixinsAndExtends.fonts(variables.$font_heading, clamp(1.3em, 2.5vw, 1.8em), variables.$font_weight);
            color: variables.$color_black;
        }
    }

     .menu{
        z-index: 2;
        opacity: 0;
        height: 96dvh;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 1rem 1rem 1rem 2.6rem;
        position: absolute;
        -webkit-transition: variables.$transition-opacity;
        -o-transition: variables.$transition-opacity;
        transition: variables.$transition-opacity;
        .main__menu{
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column;
                    flex-flow: column;
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
            a{
                color: variables.$color_black;
                -webkit-transition: variables.$transition-quick;
                -o-transition: variables.$transition-quick;
                transition: variables.$transition-quick;
                @extend %hover-effect_light;
                @include mixinsAndExtends.fonts(variables.$font_heading, clamp(1.5em, 3.5vw, 2em), variables.$font_weight);
            }
            .main__navigation{
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: column;
                        flex-flow: column;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                .navigation__list{
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: column;
                            flex-flow: column;
                    -ms-flex-pack: distribute;
                        justify-content: space-around;
                }
                .item-flex{
                    svg {
                        -webkit-transition: variables.$transition-quick;
                        -o-transition: variables.$transition-quick;
                        transition: variables.$transition-quick;

                        &.arrowTop {
                            -webkit-transform: scaleY(-1);
                            -ms-transform: scaleY(-1);
                            transform: scaleY(-1);
                        }
                    }
                    .dropdown__items{
                        position: relative;
                        left: 94%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                            -ms-flex-flow: column;
                                flex-flow: column;
                        opacity: 0;
                            visibility: hidden;
                            -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
                            -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
                            transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
                            -webkit-transform: translate(0px);
                            -ms-transform: translate(0px);
                            transform: translate(0px);
                        
                        gap: .4rem;
                        a{
                            font-size: clamp(1em, 2.5vw, 1.2em);
                        }
                        &.open-menu {
                            -webkit-transform: translateY(10px);
                            -ms-transform: translateY(10px);
                            transform: translateY(10px);
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            .contacts__navigation{
                border-top: 0.5px solid black;
                border-bottom: 0.5px solid #000000;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: column;
                        flex-flow: column;
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
                h3 {
                    @include mixinsAndExtends.fonts(variables.$font_heading, clamp(1.1em, 2.5vw, 1.4em), variables.$font_weight);
                }
                .contacts__list{
                    
                    height: 70%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: column;
                            flex-flow: column;
                    -webkit-box-pack: space-evenly;
                        -ms-flex-pack: space-evenly;
                            justify-content: space-evenly;
                    .contacts__item{
                        a{
                            font-size:clamp(1em, 2.5vw, 1.3em);
                            i {
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
        }
    }
} 