@use "variables";

//mixin

@mixin size($width,$height){
    width: $width;
    height:$height;
}

@mixin display_flex($display,$jc,$ai,$ff){
    display: $display;
    justify-content: $jc;
    align-items: $ai;
    flex-flow: $ff;
}

@mixin fonts($family, $size, $weight) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

//extends

%hover-effect_dark{
    &:hover{
        color: variables.$color_footer;
    }
}

%hover-effect_light{
    &:hover{
        color: variables.$color_grey;
    }
}