@use "variables";
@use "mixinsAndExtends";

@media screen and (max-width: 600px) {
    body {
        .main__services {
            gap: 1rem;
            padding: 2rem;
            .services__container {
                gap: 3.5rem;

                .container__row {
                    display: -webkit-box;

                    display: -ms-flexbox;

                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-flow: column;
                    flex-flow: column;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    gap: 1rem;

                    .row__desc {
                        gap: 1rem;
                        padding: 1rem;
                    }
                }
            }
            .services__social {
                padding: 2rem 2rem 1rem 2rem;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    body {
        .main__services {
            gap: 1rem;
            padding: 2rem;

            .services__container {
                gap: 3.5rem;

                .container__row {
                    gap: 1rem;

                    .row__desc {
                        gap: 1rem;
                        padding: 1rem;

                        p {
                            max-width: 35ch;
                        }
                    }
                }
            }
            .services__social {
                padding: 2rem 2rem 1rem 2rem;
                text-align: center;

                .social__list {
                    gap: 1rem;
                }
            }
        }
    }
}
