@use "variables";
@use "mixinsAndExtends";

body {
    .main__services {
        opacity: 0;
        -webkit-transition: variables.$transition-opacity;
        -o-transition: variables.$transition-opacity;
        transition: variables.$transition-opacity;
        position: absolute;
        padding: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        gap: 3.5rem;
        width: 100%;
        h1 {
            @include mixinsAndExtends.fonts(
                variables.$font_heading,
                clamp(1.9em, 3.5vw, 2.5em),
                variables.$font_weight
            );
        }
        .services__container {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
            flex-flow: column wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            gap: 3.5rem;
            -webkit-transition: variables.$transition-quick;
            -o-transition: variables.$transition-quick;
            transition: variables.$transition-quick;
            .container__row {
                -webkit-transition: variables.$transition-quick;
                -o-transition: variables.$transition-quick;
                transition: variables.$transition-quick;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                -ms-flex-flow: row-reverse;
                flex-flow: row-reverse;
                -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
                width: 100%;
                .row__img {
                    padding: 2rem;
                    img {
                        -webkit-transition: variables.$transition-quick;
                        -o-transition: variables.$transition-quick;
                        transition: variables.$transition-quick;
                        max-width: 100%;
                        max-block-size: 28rem;
                    }
                }
                .row__desc {
                    -webkit-transition: variables.$transition-quick;
                    -o-transition: variables.$transition-quick;
                    transition: variables.$transition-quick;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-flow: column;
                    flex-flow: column;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    gap: 2rem;
                    padding: 2rem;
                    h3 {
                        -webkit-transition: variables.$transition-quick;
                        -o-transition: variables.$transition-quick;
                        transition: variables.$transition-quick;
                        @include mixinsAndExtends.fonts(
                            variables.$font_heading,
                            clamp(1.4em, 3.5vw, 2em),
                            variables.$font_weight
                        );
                        text-align: center;
                    }
                    p {
                        -webkit-transition: variables.$transition-quick;
                        -o-transition: variables.$transition-quick;
                        transition: variables.$transition-quick;
                        @include mixinsAndExtends.fonts(
                            variables.$font_heading,
                            clamp(0.9em, 2vw, 1.2em),
                            variables.$font_weight
                        );
                        line-height: 1.5em;
                        text-align: center;
                        max-width: 40ch;
                    }
                }
            }
        }
        .services__social {
            -webkit-transition: variables.$transition-quick;
            -o-transition: variables.$transition-quick;
            transition: variables.$transition-quick;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 1.4rem;
            .social__heading {
                h4 {
                    -webkit-transition: variables.$transition-quick;
                    -o-transition: variables.$transition-quick;
                    transition: variables.$transition-quick;
                    @include mixinsAndExtends.fonts(
                        variables.$font_heading,
                        clamp(1em, 2.5vw, 1.4em),
                        variables.$font_weight
                    );
                }
            }
            .social__list {
                z-index: 3;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-flow: row;
                flex-flow: row;
                gap: 1rem;
                a {
                    color: rgb(75, 73, 73);
                    font-size: 1em;
                }
            }
        }
    }
}
