//color

$color_black:rgb(0,0,0,1);
$color_white:rgb(255,255,255,1);
$color_grey:rgb(155,155,155,1);
$color_footer:rgb(72, 72, 72,1); //#444
$color_background:rgb(227, 221, 213,1); //#e3ddd5
$color_link:rgb(185, 72, 32,1); //#b94820

//fonts

$text_font:'Granjon LT W01 Roman', 'Garamond W01', 'HGKyokashotai', serif;
$font_weight:normal;
$font_heading:'Cormorant Infant', serif;

$base_font:16px;

//layout
$z_fixed:100;

//transition

$transition-opacity: opacity 0.9s cubic-bezier(.77,0,.18,1);
$transition-quick: all 0.3s cubic-bezier(.77,0,.18,1);


